
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status , #number_of_objects    
{
font-size: 18px;
}

body
{
    backround-size: cover;
}

body
{
    backround-size: cover;
    backround-position: center;
}

canvas
{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin-top: 30px;
}

funtion preload(){
    img = loadImage('dog_cat.jpg');
}

function setup() {
    canvas = createCanvas(640, 420);
    canvas.center();
}

function draw() {
    image(img, 0, 0, 640, 240);
    fill("FF0000");
    text("Dog", 45, 75);
    noFill();
    stroke("#FF0000");
    rect(30 ,60 ,450 ,350 );
}

